<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width" user-scalable="yes">
  <title>HeartStrong</title>

</head>

<body ng-app="userApp" ng-controller="journalCtrl">
    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>

    <script>
    $(function(){
      $("#nav-placeholder").load("navbar.html");
    });
    </script>
    <!--end of Navigation bar-->

    <h3>What are you grateful for today?</h3><br>
    <!--Show date of current journal entry-->
    <div id="date"></div>
    <script>
    var date = new Date();
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    var d = date.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
    </script>
    <!--End Date-->

    <textarea rows="20" cols="50" ng-model="journalInput"></textarea><br>
    <h4> Which best describes your mood? </h4>
    <button type="button" ng-click="chooseMood('happy')">Happy</button>
    <button type="button" ng-click="chooseMood('neutral')">Neutral</button>
    <button type="button" ng-click="chooseMood('nervous')">Nervous</button>
    <button type="button" ng-click="chooseMood('sad')">Sad</button>
    <button type="button" ng-click="chooseMood('angry')">Angry</button><br>
    <button type="button" ng-click="addEntry()">Submit Entry</button><br>


</body>

</html>
