<!DOCTYPE html>
<!-- debugging target. replace with your IP -->
<!--<script src="http://152.23.17.179:8080/target/target-script-min.js#anonymous"></script>-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="../controllers/user.js"></script>
<script type="text/javascript" src="../cordova.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>HeartStrong</title>
  </head>


  <body>

    <!--Navigation bar-->
    <div id="nav-placeholder">
    </div>

    <script>
    $(function(){
      $("#nav-placeholder").load("navbar.html");
    });
    </script>
    <!--end of Navigation bar-->



<!--    <div id="homeNav" class="homeNav">
      <ul>
        <li><a href="/views/gratitude.html">Gratitude Journal</a></li>
        <li><a href="/views/aims.html">Aims</a></li>
        <li><a href="https://www.myuncchart.org/">My Chart</a></li>
        <li><a href="/views/vitals.html">Weight and Vitals</a></li>
        <li><a href="/views/meds.html">Medicine Log</a></li>
        <li><a href="/views/30dayPlan.html">30 Day Plan</a></li>
      </ul>
    </div> -->

  </body>

</html>
