<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="controllers/navigation.js"></script>
<script type="text/javascript" src="cordova.js"></script>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>HeartStrong</title>
    <link rel="stylesheet" type="text/css" href="css/nav.css" media="screen" />
</head>


<body ng-app="navigationApp" ng-controller="navigationCtrl">
    <div class="navPage">
      <h1 ng-bind="welcome"></h1>
      <nav class="navMenu" id="navMenu">
        <ul>
          <li><a href="views/gratitude.html">Gratitude Journal</a></li>
          <li><a href="views/aims.html">Aims</a></li>
          <li><a href="https://www.myuncchart.org/">My Chart</a></li>
          <li><a href="views/vitals.html">Weight and Vitals</a></li>
          <li><a href="views/meds.html">Medicine Log</a></li>
          <li><a href="views/30dayPlan.html">30 Day Plan</a></li>
        </ul>
      </nav>
      <button type="button" onclick="logout();">Logout</button>
    </div>
</body>


</html>
