<!DOCTYPE html>
<!-- jQuery(mobile) -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="../controllers/user.js"></script>
<script type="text/javascript" src="../cordova.js"></script>
<!-- full calendar -->
<link rel='stylesheet' href='../fullcalendar-3.9.0/fullcalendar.css' />
<link rel='stylesheet' href='../css/universal.css' />
<script src='../fullcalendar-3.9.0/lib/moment.min.js'></script>
<script src='../fullcalendar-3.9.0/fullcalendar.js'></script>

<!-- ONSEN UI could be useful for popup -->
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=yes">
        <title>HeartStrong</title>
    </head>
    <!--write vitals controller! -->
    <body ng-app="userApp" ng-controller="vitalsCtrl">
        <ons-page>
            <div class="container-fluid">
                <div id="nav-placeholder"></div>

                <p style="text-align: center">
                    <ons-button onclick="showModal()">Show modal</ons-button>
                </p>

                <ons-modal direction="up">
                    <div style="text-align: center">
                        <form>
                            Weight: <input type="text" ng-model="weight">
                            <select ng-model="unit">
                                <option value="kg">Kg</option>
                                <option value="lb">Lb</option>
                            </select>
                            <button type="button" ng-click="submitWeight()">Submit</button>
                        </form>
                    </div>
                </ons-modal>

                <div id='calendar'></div>
            </div>
        </ons-page>
    </body>

    <script>
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            dayClick: function(date, jsEvent, view) {
                //                        alert('Clicked on: ' + date.format());
                //                        alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                //                        alert('Current view: ' + view.name);
                //                        // change the day's background color just for fun
                //$(this).css('background-color', 'red');
            }
        })

        function showModal() {
            var modal = document.querySelector('ons-modal');
            modal.show();
            setTimeout(function() {
                modal.hide();
            }, 2000);
        }


        $("#nav-placeholder").load("navbar.html");
        //
        //                // Popup Window
        //                var scrollTop = '';
        //                var newHeight = '100';
        //
        //                $(".popup-trigger").click(function(e) {
        //                    e.stopPropagation();
        //                    if(jQuery(window).width() < 767) {
        //                        $(this).after( $( ".popup" ) );
        //                        $('.popup').show().addClass('popup-mobile').css('top', 0);
        //                        $('html, body').animate({
        //                            scrollTop: $('.popup').offset().top
        //                        }, 500);
        //                    } else {
        //                        $('.popup').removeClass('popup-mobile').css('top', newHeight).toggle();
        //                    };
        //                });
        //
        //                $(window).bind('scroll', function() {
        //                    scrollTop = $( window ).scrollTop();
        //                    newHeight = scrollTop + 100;
        //                });
        //
        //
        //                $('html').click(function() {
        //                    $('.popup').hide();
        //                });
        //
        //                $('.popup-btn-close').click(function(e){
        //                    $('.popup').hide();
        //                });
        //
        //                $('.popup').click(function(e){
        //                    e.stopPropagation();
        //                });
    </script>

</html>
