* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(gray, maroon);
}

.navPage {
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 1;
  visibility: visible;
  text-align: center;
}

.navPage ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  position: relative;
  height: 100%;
}

.navPage navMenu {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 40px;
}

.navPage ul li {
  text-align: center;
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
  margin-bottom: 50px;
}
.navPage ul li a {
  text-align: center;
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
